<div class="row">
    <div class="col-xs-12">
        <form #addIngredient="ngForm" (ngSubmit)="addIngredients(addIngredient)">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" [(ngModel)]="name" name="name" id="name" required/>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" class="form-control" [(ngModel)]="amount" name="amount" id="amount" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Add</button>
                    <!-- <button class="btn btn-danger">Delete</button> -->
                    <button class="btn btn-primary" type="button" (click)="clearForm(addIngredient)">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
