<!-- <app-header (emitHeaderSelect) = "headerSelector($event)"></app-header> -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <!-- <div *ngIf="currnetDisplay === 'recipe'; then recipe else shoppingSection"></div> -->
    <!-- <ng-template [ngIf]="currnetDisplay === 'recipe'">
      <div class="col-md-12">
        <app-recipe-book></app-recipe-book>
      </div>
    </ng-template>
    <hr class="col-md-12">
    <ng-template [ngIf]="currnetDisplay === 'shoppingList'">
      <div class="col-md-12">
        <app-shopping-list></app-shopping-list>
      </div>
    </ng-template> -->
    <router-outlet></router-outlet>
  </div>
</div>
