<div *ngIf="selectedRecipe != null">
    <div class="row">
        <div class="col-xs-12">
            <img [src]="selectedRecipe.imagePath" alt="" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <h3>{{ selectedRecipe.name }}</h3>
        </div>
        <div appDropdown class="col-xs-4 pull-right">
            <button class="btn btn-primary dropdown-toggle">
                Manage <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" (click)="addAllToSL(selectedRecipe.ingredients)">Add to Shopping list</a></li>
                <li><a (click)="onEdit()">Edit</a></li>
                <li><a (click)="onDeleteRecipe()">Delete</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Description
        </div>
        <hr>
        <div class="col-xs-12">
            <span>{{ selectedRecipe.description }}</span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <h3>Ingredients</h3 >
        </div>
        <hr>
        <div class="col-xs-6">
           <ul class="list-group">
               <li class="list-group-item"  *ngFor="let item of selectedRecipe.ingredients">
                   {{ item.name }} - {{item.amount}}
                   <div class="pull-right">
                       <button class="btn btn-success" (click)="addItemsToSL(item)"> Add </button>
                   </div>
               </li>
           </ul>
        </div><br> 
    </div>
</div>